* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Roboto Condensed', sans-serif;
}
a:visited{
    color: whitesmoke;
}
.banner:hover{
    transform: scale(1.04);
    transition: transform .3s;
}
.img-pre:hover{
    transform: scale(0.80);
    transition: transform .3s;
}

header {
    height: 300px;
    display: flex;
    justify-content: space-around;

}

.logo {
    background-repeat: no-repeat;
    margin-left: 50px;
    border-radius: 20px;
    margin-top: 20px;
}

header nav {
    display: flex;
    justify-content: right;
    margin-right: 50px;
    margin-top: 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.menu {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: right;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    gap: 20px;

}

#inicio_1 {
    color: rgb(255, 0, 0);

}

#galeria_1 {
    color: rgb(255, 0, 0);
    ;
}

#productos_1 {
    color: rgb(255, 0, 0);
    ;

}

#quien_soy_1 {
    color: rgb(255, 0, 0);
    ;
}

#contactoyturnos_1 {
    color: rgb(255, 0, 0);
    ;
}

/* body sacado de tik tok*/
body {
    display: flex;
    flex-direction: column;
    background: #333333;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #dd1818, #333333);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #dd1818, #333333);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*ACA EMPIEZA LA SECCION DE BANNER DEL INICIO*/

main div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1rem 3rem 3rem 3rem;
}

.contenedor {
    height: 350vh;
}

.banner {
    display: flex;
    object-fit: cover;
    background-repeat: no-repeat;
}

.img-pre {
    background-repeat: no-repeat;
    background-size: contain;

}

.img_presentacion {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descripcion-inicial {
    text-align: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/** MEDIA QUARIS DE TABLET**/

@media screen and (max-width:600px) {

    /**estilos del main**/

header {
    display: flex;
    align-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}
.logo{
    display: none;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.menu {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: right;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}
.descripcion-inicial{
    text-align: center;
}
}
/* MQ PANTALLA GRANDE*/
@media screen and (min-width:1024px) {
    main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50% 50%;
    }
    .banner{
        grid-column: span 2 ;
    }

    .img-pre {
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        width: 700px;
        height: 1024px;
    }
    .descripcion-inicial {
        text-align: center;
        align-items: center;
        object-fit: cover;
        width: 700px;
        height: 1024px;
    }
    .contenedor {
        height: 300vh;
    }
}

.video_presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
}

#galeria_img_2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.galeria_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.piedepagina {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos_contac {
    display: flex;
    justify-items: center;
    align-items: center;
}

.contactanos {
    display: flex;
    justify-items: center;
    align-items: center;
}

.turnos {
    display: grid;
    place-items: center;
}

.agendar {
    display: grid;
    place-items: center;
}

.ubicacion_local {
    display: grid;
    place-items: center;
}
/* PAGE QUIEN SOY*/
.contenedor-1 {
    height: 150vh;
    grid-template-rows: span 2;
}
/* MQ escritorio*/
@media screen and (min-width:1024px) {
.redes{
    grid-template-rows: span 2;
    display: flex;
}

.logo-insta{
    height: 100px;
    width: 100px;
}
.titulo-redes {
    align-items: center;
    align-content: center;
}
}
/* MQ tablet*/
@media screen and (min-width:576px) {
    .logo-insta{
        height: 100px;
        width: 100px;
    }

}
/* PAGE QUIEN SOY*/
@media screen and (min-width:1024px) {
    .tienda-online{
        text-align: center;
        grid-column: span 2 ;

    }
}
/* MQ tablet*/
@media screen and (min-width:576px) {
    .tienda-online{
    height: 300px;
    width: 300px;
}
}
.contactanos{
    display: flex;
    margin-left: 20px;
}


